<h1><%= @conversation.subject %></h1>
<div>
  <%@conversation.receipts_for(current_user).each do |r|%>
    <% if r.message.sender == current_user %>
      <div class='sent'>
        <p><%= r.message.sender.email%></p>
        <p><%= r.message.body %></p>
      </div>
    <% else %>
      <div class='received'>
        <p><%= r.message.sender.email%></p>
        <p><%= r.message.body %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <div>
    <%= text_area_tag :body%>
  </div>
  <%= submit_tag %>
<% end %>
