<h1>UserConfig#addUser</h1>
<p>Find me in app/views/user_config/addUser.html.erb</p>
<% a = User.count %>
<%= a %>



<%= submit_tag "Test me!", :type => 'button', :onclick => 'alert("It works!")' %>

<%= link_to 'sumIt', '#', :onclick => 'sum_fn()' %>

<h1>Enter your email address</h1>



<%= submit_tag "Save", :onclick => "return confirm('Are you sure?')" %>

<%= @clients %> <br/>
 <br/>
<%=  User.all.each do |product| %>
    <h1> Product <%= product.email %> </h1>
<% end %>

