<h1>Add a new User</h1>

<%= form_tag("/user_edits/addIt", method: "post") do %>
    <%= label_tag(:searchUser0, "Add your user:") %> <br>
    <%= label_tag(:searchUser1, "Enter the email:") %> <%= text_field_tag(:userEmail) %> <br>
    <%= label_tag(:searchUser2, "Enter the new password:") %><%= text_field_tag(:userPassword) %> <br>
    <%= label_tag(:searchUser3, "Enter the new user type:") %><%= text_field_tag(:userPassCon) %>

    <%= submit_tag("Add User") %>
<% end %>