<h1>UserConfig#editUser</h1>
<p>Find me in app/views/user_config/editUser.html.erb</p>

<%= form_tag("/user_config/editUser", method: "get") do %>
    <%= label_tag(:q, "Search for user:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("SearchUser") %>
<% end %>
<%= form_for @user, url: {action: "addUser"}, html: {class: "nifty_form"} do |f| %>
    <p>Email</p>
    <%= f.text_field  :email, :placeholder=>'Enter email', :required=>true   %>
    <p> Password</p>
    <%= f.password_field :password, :placeholder=>'Enter your password', :required=>true %>
    <p> Confirm Password</p>
    <%= f.password_field :passwordConfirm, :placeholder=>'Enter the same password', :required=>true %>
    <%= f.submit "Create" %>
<% end %>