

<h1>Edit the User</h1>

<p> This still needs updates for areas that will be editted. The only thing I can think of is the password.</p>
<p>Right now it just adds a new user</p>

<%= form_tag("/user_edits/editIt", method: "post") do %>
    <%= label_tag(:searchUser0, "Enter the field you want edited:") %> <br>
    <%= label_tag(:searchUser1, "Enter the email:") %> <%= text_field_tag(:userEmail) %> <br>
    <%= label_tag(:searchUser2, "Enter the new password:") %><%= text_field_tag(:userPassword) %> <br>
    <%= label_tag(:searchUser3, "Enter the new user type:") %><%= text_field_tag(:userType) %>

    <%= submit_tag("Edit User") %>
<% end %>