<h1>UserConfig#editUser</h1>
<p>Find me in app/views/user_config/editUser.html.erb</p>

<%= form_tag("/user_config/editUser", method: "get") do %>
    <%= label_tag(:q, "Search for user:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("SearchUser") %>
<% end %>
<%=  User.all.each do |product| %>
    <h1> Product <%= product.email %> </h1>
<% end %>
<br>
<%= link_to("Click me to edit users", "/user_config/editUser", html_options = {}) %>
<%= link_to("Click me to add users", "/user_config/addUser", html_options = {}) %>