<h1> Yay!!! we're home</h1>

<% if current_user.user_type_id == 2 %>


    <table>
      <thead>
      <tr>
        <th>Email</th>
        <th>Access</th>
        <th>Message</th>

        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <%  @auditRequest.each do |ac| %>
          <tr>
            <td><%= ac.email %></td>
            <td><%= ac.access %></td>
            <td><%= ac.message %></td>


          </tr>
      <% end %>
      </tbody>
    </table>


    <br>
    <br>
    <p> <%= @temper %> </p>
    <% if @temp != nil %>
        <p> <%= @temp.email %> </p>
    <% end %>
    <%= form_tag('/', method: "get") do %>
    <%= label_tag(:changePermission, "True") %> <br>
    <input id="truePermission" name="truePermission" type="checkbox" value=true /> <br>
        <%= label_tag(:changePermission, "False") %> <br>
        <input id="falsePermission" name="falsePermission" type="checkbox" value=false />
        <%= label_tag(:auditor, "Auditor Email") %> <br>
    <%= text_field_tag(:auditor) %>
    <%= submit_tag("Submit Change") %>
        <% end %>

<% end %>
