<h1>Request_doc Page </h1>

<% if @temp3 != nil && @temp3.access == true %>

    <p> Start Date: <%= @temp %> </p>
    <p> End Date: <%= @temp1 %> </p>
    <p> Department #: <%= @temp2 %> </p>
    <p> The access audit area <%= @temp3.access %> </p>
    <p> The access audit area <%= @temp3.message %> </p>
    <%= render :partial => 'form' %>
<% elsif @temp3.access == false %>

    <p> You need to request permission</p>
    <p> The access audit area <%= @temp3.access %> </p>
    <%= label_tag(:requestPermission, "Submit message for permission") %> <br>
    <%= text_area_tag(:requestPermission) %>
    <%= submit_tag("Submit Request") %>
<% end %>

