<h1>Request_doc Page </h1>

<% if @temp3 != nil && @temp3.access == true %>


   <%# <p> The access audit area <%= @temp3.access %>
  <%#  <p> The access audit area <%= @temp3.message %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Price</th>


        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <%  @purchasesTemp.each do |ac| %>
          <tr>
            <td><%= ac.user_id %></td>
            <td><%= ac.total %></td>



          </tr>
      <% end %>
      </tbody>
    </table>
    <%# This is a great comment!  <%= render :partial => 'form' %>
<% elsif @temp3.access == false %>

    <p> You need to request permission</p>
    <p> The access audit area <%= @temp3.access %> </p>
    <%= label_tag(:requestPermission, "Submit message for permission") %> <br>
    <%= text_area_tag(:requestPermission) %>
    <%= submit_tag("Submit Request") %>
<% end %>

