<p id="notice"><%= notice %></p>
<% user = User.find(@purchase.user_id)%>
<p>
  <strong>User:</strong>
  <%=  user.name %>
</p>
<br>
<div>
  <%= render @purchase.receipts%>
</div>
<br>
<p>
  <strong>Total:</strong>
  <%= @purchase.total %>
</p>

<%= link_to 'Back', purchases_path %>
